body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: rgb(201, 206, 211);
}

.buffer {
  height: 10rem;
}

hr {
  color: rgb(235, 76, 13);
  border-width: 5px;
  max-width: 65px;
  opacity: 1;
  margin: 20px auto;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  /* cek ini yos */
  text-transform: uppercase;
}

.btn-primary {
  background-color: rgb(235, 76, 13);
  border-color: rgb(235, 76, 13);
}

.btn-primary:hover {
  background-color: #fc6146 ;
  border-color: #fc6146;
  border-width: 4px;

}

.btn-xl {
  padding: 1rem 2rem ;

}